In [1]:
import pandas as pd
import re

In [2]:
pd.options.display.max_columns=None

In [4]:
df_data_kaggle = pd.read_csv("../archivos_originales/_data_remaning_kaggle.csv")

In [5]:
df_data_kaggle.head(2)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [6]:
def seleccionar_columnas(df, patron):
    columnas = df.columns
    lista_columnas = ["index"]
    for col in columnas:
        elemento_col = re.findall(patron, col)
        if len(elemento_col) ==1:
            lista_columnas.append(elemento_col[0])
    df = df[lista_columnas]
    return df

In [8]:
df_xml = pd.read_xml("../archivos_originales/_data_xml_clean(1).xml")

In [9]:
df_xml.head()

   level_0  index  time    age gender
0        0      0   910  50-54    Man
1        1      1   784  50-54    Man
2        2      2   924  22-24    Man
3        3      3   575  45-49    Man
4        4      4   781  45-49    Man

In [10]:
df_xml = seleccionar_columnas(df_xml, "age|gender")

In [11]:
df_xml.head()

   index    age gender
0      0  50-54    Man
1      1  50-54    Man
2      2  22-24    Man
3      3  45-49    Man
4      4  45-49    Man

In [12]:
df_xml.duplicated().sum()

0

In [14]:
df_txt = pd.read_csv("../archivos_originales/_data_txt_clean.txt", sep = ";")

In [15]:
df_txt.sample(3)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
14609,14609,Mexico,Bachelor’s degree,Statistician,10-20 years,Python,A laptop,Never,< 1 year,Academics/Education,0-49 employees,1-2,We are exploring ML methods (and may one day p...,"30,000-39,999",$100-$999,MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C++, Java, Javascript, MATLAB","Visual Studio Code (VSCode) , Spyder,MATLAB ,J...",None,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Linear or Logistic Regression, Bayesian Approa...",Analyze and understand data to influence produ...,"MySQL , Microsoft SQL Server",None
13475,13475,Egypt,Bachelor’s degree,Currently not employed,5-10 years,Python,A laptop,Never,1-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL",Jupyter Notebook,None,"Matplotlib ,Seaborn","Scikit-learn ,Xgboost ,CatBoost","Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN
24832,24832,Japan,Master’s degree,Statistician,1-3 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",2-5 times,< 1 year,Marketing/CRM,0-49 employees,1-2,We are exploring ML methods (and may one day p...,"15,000-19,999","$1000-$9,999",NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",None,None,PyTorch,"Dense Neural Networks (MLPs, etc)",Analyze and understand data to influence produ...,None,None

In [16]:
df_txt.duplicated().sum()

0

In [17]:
df_txt.columns

Index(['index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9',
       'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')

In [18]:
df_txt = seleccionar_columnas(df_txt, "Q3[^2]|Q3$|Q41|Q4|Q5|Q6|Q7|Q8|Q9|Q1[^1|^3|^2]|Q20|Q2[^2|^6]")

In [19]:
df_txt.head(1)

,index,Q3,Q4,Q5,Q6,Q8,Q15,Q20,Q21,Q23,Q25,Q33,Q35,Q41,Q7,Q9,Q14,Q16,Q17,Q24,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,5-10 years,Manufacturing/Fabrication,50-249 employees,No (we do not use ML methods),"25,000-29,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,None

In [20]:
df_total = df_txt.merge(df_xml, on ="index")

df_total.head(1)

,index,Q3,Q4,Q5,Q6,Q8,Q15,Q20,Q21,Q23,Q25,Q33,Q35,Q41,Q7,Q9,Q14,Q16,Q17,Q24,Q34,age,gender
0,0,India,Bachelor’s degree,Other,5-10 years,Python,5-10 years,Manufacturing/Fabrication,50-249 employees,No (we do not use ML methods),"25,000-29,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,None,50-54,Man

In [21]:
df_total =df_total.drop("index", axis = 1)

In [22]:
df_total[df_total.duplicated()]

,Q3,Q4,Q5,Q6,Q8,Q15,Q20,Q21,Q23,Q25,Q33,Q35,Q41,Q7,Q9,Q14,Q16,Q17,Q24,Q34,age,gender
8559,India,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-21,Man
9418,Pakistan,Bachelor’s degree,Student,< 1 years,Python,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"PyCharm ,Jupyter Notebook",None,NaN,NaN,NaN,NaN,22-24,Man
13765,Egypt,Bachelor’s degree,Currently not employed,< 1 years,Python,< 1 year,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, Javascript","Visual Studio ,Visual Studio Code (VSCode) ,Py...",None,"Scikit-learn , TensorFlow ,Xgboost ,LightGBM","Linear or Logistic Regression, Decision Trees ...",NaN,NaN,30-34,Man
14908,India,Bachelor’s degree,Student,1-3 years,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, C, C++","Visual Studio ,Visual Studio Code (VSCode) ,Py...",NaN,NaN,NaN,NaN,NaN,18-21,Man
14979,India,Bachelor’s degree,Student,< 1 years,Python,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,"Visual Studio Code (VSCode) ,Jupyter Notebook",None,NaN,NaN,NaN,NaN,18-21,Man
19434,India,Bachelor’s degree,Student,< 1 years,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, C",Visual Studio Code (VSCode),NaN,NaN,NaN,NaN,NaN,18-21,Man
20153,India,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-21,Man
23693,India,Bachelor’s degree,Student,< 1 years,Python,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,18-21,Man
24488,India,Bachelor’s degree,Student,1-3 years,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, C, C++","Visual Studio Code (VSCode) ,PyCharm , Sublime...",NaN,NaN,NaN,NaN,NaN,22-24,Man
25807,Japan,Master’s degree,Currently not employed,1-3 years,Python,1-2 years,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Matplotlib,"Scikit-learn ,Keras ,PyTorch","Linear or Logistic Regression, Dense Neural Ne...",NaN,NaN,50-54,Man

In [23]:
df_total.duplicated().sum()

10

In [25]:
df_total.to_csv("../archivos_editados/df_completo.csv")